!.env.example
*.log
*.pyc
*build/
*coverage*
*venv
.DS_Store
.benchmarks/
.coverage
.env
.env*
.make
.make/
.next
.swc
.tox
.venv
__pycache__/
archive.zip
bin
coverage.xml
data
dist/
node_modules
node_modules/
primecipher.db
